@mixin clearfix {
   &::after {
    content: "";
    display: table;
    clear: both;
   }   
}

@mixin card__side-properities {
   position: absolute;
   top: 0;
   left: 0;
   box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}
